

#HomeContainer {
    background-image: url('./../../Images/image.png');
    background-position: center; /* Center the image */
    background-size: cover;
    height: 100%;
    width: 100%;

    .card {
        margin-top: 10px;

        a:hover {
            text-decoration: none;
        }
    }
}